@font-face {
    font-family: iconic;
    src: url(/_test/fonts/icomoon.eot) format("embedded-opentype"), url(/_test/fonts/icomoon.ttf) format("truetype"), url(/_test/fonts/icomoon.woff) format("woff");
}

html, body {
    font-family: 'sans-serif', iconic;
}

.icon-home:before {
    content: "\e900";
    font-size: 24px;
}

.icon-home2:before {
    content: "\e901";
}